p {
  color: white;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #222831;
}

.in-between-space {
  margin-top: 100px;
  margin-bottom: 100px;
}

.horizontal-parallax-container {
  height: 300vh;
}

main {
  height: 45%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
  font-size: 3em;
  background-image: url(images/output-onlinepngtools.png);
  background-size: unset;
  background-repeat: no-repeat;
  color: white;
  text-shadow: 1px 1px 5px black;
}
