p {
  color: white;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #222831;
}

.in-between-space {
  margin-top: 100px;
  margin-bottom: 100px;
}

@media only screen and (max-width: 600px) {
  .parallax-container {
    height: 200px;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
  h5 {
    font-size: 17px;
  }
  .responsive-text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.desktop-image-view {
}
